<div class="HEADER">
    <div class="SIGNATUREHEAD" id="LOGO">
        <a href="/">LAKSHAY CHAWLA - BLOG</a>
    </div>

    <div class="NAVBAR">

        <ul class="LINKLIST" id="LINKLIST">
            <a href="/">
                <li class="LINK" id="HOMELINK">HOME</li>
            </a>
            <a href="https://lakshaychawla.herokuapp.com/about">
                <li class="LINK" id="ABTLINK">ABOUT</li>
            </a>
            <a href="https://lakshaychawla.herokuapp.com/contact">
                <li class="LINK" id="CONTACTLINK">CONTACT ME</li>
            </a>
            <a href="https://lakshaychawla.herokuapp.com/newsletter">
                <li class="LINK" id="NLETTER">NEWSLETTER</li>
            </a>

        </ul>
    </div>
</div>